body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 50% 50%;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: grab;
}